blockquote {
  font-style: italic
}

.icon-scholar {
  content: url('files/google-scholar.svg');
  height: 1em;
  width: auto;
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}

h1.title, h3.subtitle {
  text-align: center;
}

/*button {
  color: black;
  transition-duration: 0.4s;
  border: 2px solid #008CBA
  border-radius: 8px;
}

button:hover {
  background-color: #008CBA; 
  color: white;
  border-radius: 8px;
}
